{% extends 'base.html' %}
{% load static %}
{% block 'main' %}




        <div class="row pt-2">   <!--contact page start-->

            <div class="col-md-9 mx-auto bg-light hover shadow-lg p-3 mb-5 bg-white rounded" style="text-align: center; border-radius: 20px;">
                <h3>About us</h3>
                <p>
                    As of my last update in January 2022, the top e-commerce site in India is typically considered to be Flipkart. Established in 2007, Flipkart has emerged as a pioneer in the Indian e-commerce landscape, offering a vast array of products ranging from electronics and fashion to groceries and furniture. Acquired by Walmart in 2018, Flipkart has continued to expand its market reach and enhance its services, including innovative features such as same-day delivery and diverse payment options, catering to the diverse needs of Indian consumers. Its strategic partnerships, extensive product selection, and customer-centric approach have solidified its position as the leading e-commerce platform in India, serving millions of customers across the country.
                </p>



            </div>
          
          
          </div> 

    </div>

    <footer class="footer bg-dark" >
        <div class="footer-text" style="margin: auto;color: azure;margin-left: 30%;">
            <p>Copyright &copy; 2024 by Aditya Yadav | All Rights Reserved. |
              <a href="#"><i class="fa-brands fa-square-instagram time hov1" style="color:azure;"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin time hov1" style="color:azure;"></i></a>
              <a href="#"><i class="fa-brands fa-github time hov1" style="color: azure;"></i></a>
              <a href="#"><i class="fa-brands fa-facebook time hov1" style="color: azure;"></i></a>
            </p>
        </div>
    </footer>
{% endblock 'main' %}