{% extends 'base.html' %}
{% load static %}
{% block 'main' %}


<div class="row " style="margin-top:3% ;">
    <!--<div class="col-md-4">-->
      {% if ermsg %}
          <div class="alert alert-danger" role="alert">
        {{ermsg}}
          </div>
        {% endif %}
        {% for i in data %}
        <div class="card mb-4 bg-dark" style="margin-left:5%;background: transparent;width: 25%;height: 3%;"><!--1-->
            <div class="row">
              <div class="col-md-4">
                <img src="{{i.fid.image.url}}" class="img-fluid rounded-start" style="height: 80%;width: 150%;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{i.fid.name}}</h5>
                  <h5 class="card-title">
                    <a class="btn btn-outline-primary" href="#">Watch now</a><br><br>
                    <a class="btn btn-outline-danger" href="/remove/{{i.fid.id}}">Remove from Watchlist</a><br><br>
                  </h5>
                  <p class="card-text"><small class="text-muted">Duration-{{i.fid.time}} min</small></p>
                </div>
              </div>
            </div>
        </div> <!--/1--> 
        {% endfor %} 
    <!--</div>-->
   
</div>


{% endblock 'main' %}